<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<div style="max-width: 500px; margin: auto; padding-top: 10%">
		<h5>
			<strong>Login</strong>
		</h5>

		<div>
			<form action="#" th:action="@{/logincheck}" method="post">

				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				<input type="text" id="inputEmail" name="email" placeholder="Email" />
				<input type="password" id="inputPassword" name="password" placeholder="Password" />
				<input id="boton" type="submit" value="Iniciar sesión" />

			</form>
			<div>
					<p>
						<a th:href="@{/gestionproductos/registro}">Registrate</a> | <a th:href="@{/gestionproductos/articulos}">Entrar sin cuenta</a>
					</p>
				</div>
		</div>
	</div>

	<div id="contenedor" th:if="${logout!=null OR error!=null}">
		<div th:if="${error!=null}">Fallo de identificación. Intentalo de nuevo.</div>
	</div>
	<div id="exito" th:if="${success!=null}" th:text="${success}" /></div>
</body>
</html>